html
  height: 100%
  background-color: $white-bis

body
  min-height: 100%

.section
  background-color: white

  +mobile
    padding-top: 20px

.navbar
  .container
    box-sizing: content-box
    padding: 0 20px

    +touch
      padding-left: 0

  .navbar-brand
    line-height: 1
    font-size: $size-5
    font-weight: 500

.spacer
  display: block
  position: relative

  &.sample-spacer
    width: 32px

    +mobile
      width: 16px

.footer .level
  .level-left
    .level-item:first-of-type
      display: block

  +tablet
    .level-left
      align-items: stretch
      display: flex
      flex: 1
      justify-content: flex-start
      overflow: hidden
      overflow-x: auto
      white-space: nowrap

      .has-special-links
        a
          margin-right: 12px

    .level-center
      align-items: stretch
      display: flex
      justify-content: center

    .level-right
      text-align: right
      align-items: stretch
      display: flex
      flex: 1
      justify-content: flex-end

      .has-special-links
        a
          margin-left: 12px


  +mobile
    text-align: center

    .level-center
      display: none

    .has-special-links
      a
        margin: 0 6px

.media
  &.sample
    .content:not(:last-child)
      margin-bottom: 0

    .sample-dataset-list
      display: none
      margin-top: 0.75rem

.image
  &.is-plot
    padding-top: 95.97315436%

    img
      bottom: 0
      left: 0
      position: absolute
      right: 0
      top: 0
