body
  -webkit-text-size-adjust: 100%

\::selection
  color: #fff
  background: $primary

.is-primary
  color: $primary

a:not(.button)
  +hover-animation

.button
  +hover-animation

  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)

    &.is-#{$name}
      &.is-hero
        background-color: $color
        border-width: 1px
        border-color: $white
        color: $white

        &:hover,
        &:focus,
        &.is-active
          background-color: $white
          color: $color

        &:active
          color: darken($color, 10%)

.buttons
  .button.is-fullwidth
    margin-right: 0

  &.buttons-samples .button
    .icon
      margin-left: 0 !important
      margin-right: 0 !important

.content
  h4
    margin-bottom: 0.25em

.footer
  font-size: 14px

  a
    color: $grey-darker

    &:hover,
    &:visited:hover
      color: $link-hover
