<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ g.title }} - {{ config.APPLICATION_CONFIG.title }}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  <script src="{{ url_for('static', filename='external.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}" type="text/javascript"></script>
</head>

<body>
  {% block basecontent %}{% endblock %}
</body>

</html>
