{% extends "base.html" %}

{% block basecontent %}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-brand" href="{{ url_for('index') }}">
        {{ config.APPLICATION_CONFIG.title }}
      </a>

      <div class="burger navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        {% block navigation %}
        <a class="navbar-item{% if g.id == 'plots' %} is-active{% endif %}" href="{{ url_for('plots') }}">
          Plots &amp; Distributions
        </a>
        <a class="navbar-item{% if g.id == 'samples' %} is-active{% endif %}" href="{{ url_for('samples') }}">
          Samples Info
        </a>
        <a class="navbar-item{% if g.id == 'tasks' %} is-active{% endif %}" href="{{ url_for('tasks') }}">
          Tasks Info
        </a>
        {% endblock %}
      </div>

      <div class="navbar-end">
        {% if session.user %}
        <div class="navbar-item has-dropdown is-hoverable">
          <span class="navbar-link is-arrowless">
            {{ session.user.name }}
          </span>
          <div class="navbar-dropdown is-boxed is-black is-right">
            <a class="navbar-item" href="{{ url_for('logout') }}">
              Logout
            </a>
          </div>
        </div>
        {% else %}
        <a class="navbar-item" href="{{ url_for('login', next_url=request.url) }}">
          Login
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

<footer class="footer">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item has-special-links">

        </div>
      </div>
      <div class="level-center"></div>
      <div class="level-right">
        <div class="level-item has-special-links">
          last update: {{ g.updated }}
        </div>
      </div>
    </nav>
  </div>
</footer>
{% endblock %}
