{% extends "default.html" %}

{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">{{ title }}</h1>

    {% if metadata.object_definitions %}
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <span class="tag is-medium is-success">Object definitions</span>
      </div>

      {% if metadata.object_definitions.jet_pt_min %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('jet_pt_min') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('jet_pt_min') }}</span>
        </div>
      </div>
      {% endif %}

      {% if metadata.object_definitions.jet_eta_max %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('jet_eta_max') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('jet_eta_max') }}</span>
        </div>
      </div>
      {% endif %}

      {% if metadata.object_definitions.electron_pt_min %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('electron_pt_min') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('electron_pt_min') }}</span>
        </div>
      </div>
      {% endif %}

      {% if metadata.object_definitions.electron_ID_loose %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('electron_ID_loose') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('electron_ID_loose') }}</span>
        </div>
      </div>
      {% endif %}

      {% if metadata.object_definitions.electron_ID_tight %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('electron_ID_tight') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('electron_ID_tight') }}</span>
        </div>
      </div>
      {% endif %}

      {% if metadata.object_definitions.muon_pt_min %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('muon_pt_min') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('muon_pt_min') }}</span>
        </div>
      </div>
      {% endif %}

      {% if metadata.object_definitions.muon_reco_loose %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('muon_reco_loose') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('muon_reco_loose') }}</span>
        </div>
      </div>
      {% endif %}

      {% if metadata.object_definitions.muon_reco_tight %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('muon_reco_tight') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('muon_reco_tight') }}</span>
        </div>
      </div>
      {% endif %}

      {% if metadata.object_definitions.flavour_tagging %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('flavour_tagging') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('flavour_tagging') }}</span>
        </div>
      </div>
      {% endif %}

      {% if metadata.object_definitions.hadronic_W %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ metadata.object_definitions.key('hadronic_W') | safe }}</span>
          <span class="tag is-primary">{{ metadata.object_definitions.value('hadronic_W') }}</span>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if metadata.selection %}
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <span class="tag is-medium is-danger">Selection</span>
      </div>

      {% for cut in metadata.selection %}
      <div class="control">
        <div class="tags has-addons are-medium">
          <span class="tag">{{ cut.key() | safe }}</span>
          <span class="tag is-primary">{{ cut.value() | safe }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="columns is-multiline">
      {% for histogram in histograms %}
      <div class="column is-one-third-tablet is-one-quarter-widescreen">
        <div class="card">
          <div class="card-image">
            <figure class="image is-plot">
              <img src="{{ url_for('plots_view', filename=histogram.plot_png) }}">
            </figure>
          </div>
          <div class="card-content">
            <div class="buttons are-small is-centered">
              <a href="{{ url_for('plots_view', filename=histogram.plot_png) }}" target="_blank" class="button">PNG</a>
              <a href="{{ url_for('plots_view', filename=histogram.plot_pdf) }}" target="_blank" class="button">PDF</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
