{% extends "default.html" %}

{% block content %}

{% for group in groups %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ group.title }}</h1>

    <div class="columns is-multiline">
      {% for revision in revisions[group] %}
      <div class="column is-one-third">
        <article class="message is-primary">
          <div class="message-header">
            <p>{{ revision.label }} ({{ revision.date }})</p>
          </div>
          <div class="message-body">
            <div class="buttons buttons-samples">
              {% for config in configurations[revision] %}
              <a class="button is-fullwidth is-primary is-outlined"
                href="{{ url_for('plots_list', in_group=group.web_id(), in_revision=revision.web_id(), in_config=config.web_id()) }}">
                {{ config }}
              </a>
              {% endfor %}
            </div>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
{% else %}
<section class="section">
  <div class="container">
    <em>No ntuple production campagins available.</em>
  </div>
</section>
{% endfor %}
{% endblock %}
