{% extends "default.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ g.title }}</h1>

    {% for sample in samples %}
    <article class="media sample">
      <div class="media-content" data-dsid="{{ sample.DSID }}">
        <div class="content">
          <p>
            <strong>{{ sample.label }}</strong>

            {% if sample.MC %}
            {% if sample.AFII %}<span class="tag is-warning">AFII</span>{% endif %}

            {% for c in sample.campaigns %}
            <span class="tag is-success">{{ c.value }}</span>
            {% else %}
            <span class="tag is-danger">AOD missing</span>
            {% endfor %}
            {% endif %}

            {% for d in derivations_available[sample] | sort %}
            <span class="tag is-info">{{ d }}</span>
            {% endfor %}

            {% for m in derivations_missing[sample] | sort %}
            <span class="tag is-danger">{{ m }} missing</span>
            {% endfor %}

            {% if sample.MC %}
            <br>
            <span class="tag is-light">{{ sample.DSID }}</span> {{ sample.name }}
            {% endif %}
            <br>
            <small>{% if sample.MC %}<a class="link-xsec">X-sec Info</a> · <a class="link-aod">AOD</a> · {% endif
              %}<a class="link-daod">DAOD</a> · {% if sample.MC %}<a class="link-ntup-pileup">NTUP_PILEUP</a> · {%
              endif %}<a class="link-hide">hide all</a></small>
          </p>
        </div>

        {% if sample.MC %}
        <article class="sample-dataset-list list-xsec">
          <figure class="media-left">
            <p class="spacer sample-spacer"></p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                WIP
              </p>
            </div>
          </div>
        </article>

        <article class="sample-dataset-list list-aod">
          <figure class="media-left">
            <p class="spacer sample-spacer"></p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                {% for s in sample.datasets.AOD %}
                {{ s }}
                {% else %}
                <em>AOD datasets are missing.</em>
                {% endfor %}
              </p>
            </div>
          </div>
        </article>
        {% endif %}

        <article class="sample-dataset-list list-daod">
          <figure class="media-left">
            <p class="spacer sample-spacer"></p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                {% for s in sample.datasets.DAOD %}
                {{ s.dataset }}
                {% else %}
                <em>DAOD datasets are missing.</em>
                {% endfor %}
              </p>
            </div>
          </div>
        </article>

        {% if sample.MC %}
        <article class="sample-dataset-list list-ntup-pileup">
          <figure class="media-left">
            <p class="spacer sample-spacer"></p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                {% for s in sample.datasets.NTUP_PILEUP %}
                {{ s.dataset }}
                {% else %}
                <em>NTUP_PILEUP datasets are missing.</em>
                {% endfor %}
              </p>
            </div>
          </div>
        </article>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
