{% extends "default.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ g.title }}</h1>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child message is-primary">
              <div class="message-header">
                <p>Data Samples</p>
              </div>
              <div class="message-body">
                {% if samples_data %}
                <div class="buttons buttons-samples">
                  {% for item in samples_data %}
                  <a class="button is-fullwidth is-primary is-outlined"
                    href="{{ url_for('samples_list', in_group=item.url) }}">
                    {{ item.title }}
                    {% if item.errors %}
                    <span class="icon has-text-danger">
                      <i class="fas fa-exclamation-circle"></i>
                    </span>
                    {% endif %}
                  </a>
                  {% endfor %}
                </div>
                {% else %}
                <em>No data samples available.</em>
                {% endif %}
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child message is-primary">
              <div class="message-header">
                <p>Signal MC Samples</p>
              </div>
              <div class="message-body">
                {% if samples_signal %}
                <div class="buttons buttons-samples">
                  {% for item in samples_signal %}
                  <a class="button is-fullwidth is-primary is-outlined"
                    href="{{ url_for('samples_list', in_group=item.url) }}">
                    {{ item.title }}
                    {% if item.errors %}
                    <span class="icon has-text-danger">
                      <i class="fas fa-exclamation-circle"></i>
                    </span>
                    {% endif %}
                  </a>
                  {% endfor %}
                </div>
                {% else %}
                <em>No signal samples available.</em>
                {% endif %}
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child message is-danger">
            <div class="message-header">
              <p>Samples with Problems</p>
            </div>
            <div class="message-body">
              WIP
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child message is-primary">
          <div class="message-header">
            <p>Background MC Samples</p>
          </div>
          <div class="message-body">
            {% if samples_mc %}
            <div class="buttons buttons-samples">
              {% for item in samples_mc %}
              <a class="button is-fullwidth is-primary is-outlined"
                href="{{ url_for('samples_list', in_group=item.url) }}">
                {{ item.title }}
                {% if item.errors %}
                <span class="icon has-text-danger">
                  <i class="fas fa-exclamation-circle"></i>
                </span>
                {% endif %}
              </a>
              {% endfor %}
            </div>
            {% else %}
            <em>No data samples available.</em>
            {% endif %}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

{% endblock %}
