{% extends "default.html" %}

{% block content %}

{% for campaign in campaigns %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ campaign | replace('_', ' ') }}</h1>

    <div class="columns is-multiline">
      {% for subset in campaigns_info[campaign] %}
      <div class="column is-one-third">
        <article class="message is-primary">
          <div class="message-header">
            <p>{{ subset.name | replace('_', ' + ') }}</p>
          </div>
          <div class="message-body">
            {% if subset.samples %}
            <div class="buttons buttons-samples">
              {% for item in subset.samples %}
              <a class="button is-fullwidth is-primary is-outlined"
                href="{{ url_for('tasks_list', in_campaign=subset.url, in_group=item.url) }}">
                {{ item.title }}
                {% if item.percentage == 100 %}
                <span class="icon has-text-success">
                  <i class="fas fa-check-circle"></i>
                </span>
                {% else %}
                <span class="icon has-text-info">
                  <i class="fas fa-hourglass-half"></i>
                </span>

                ({{ item.percentage }}&#8239;%)
                {% endif %}
                {% if item.failed %}
                <span class="icon has-text-warning">
                  <i class="fas fa-sync-alt"></i>
                </span>
                {% endif %}
                {% if item.broken %}
                <span class="icon has-text-danger">
                  <i class="fas fa-exclamation-circle"></i>
                </span>
                {% endif %}
                {% if item.missing %}
                <span class="icon has-text-dark">
                  <i class="fas fa-question-circle"></i>
                </span>
                {% endif %}
              </a>
              {% endfor %}
            </div>
            {% else %}
            <em>No samples available.</em>
            {% endif %}
          </div>
        </article>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
{% else %}
<section class="section">
  <div class="container">
    <em>No ntuple production campagins available.</em>
  </div>
</section>
{% endfor %}
{% endblock %}
