{% extends "base.html" %}

{% block basecontent %}

<section class="section">
  <div class="container">
    <pre>rucio add-rule \
{% for item in task_list %} {{ item.name }}_tree.root {{ item.name }}_hist \
{% endfor %} 1 {{rse}}</pre>
  </div>
</section>

{% endblock %}
