{% extends "base.html" %}

{% block basecontent %}

<section class="section">
  <div class="container">
    <pre>rucio download \
{% for item in done_list %} {{ item.name }}_tree.root {{ item.name }}_hist{% if not loop.last%} \{% endif %}
{% endfor %}</pre>
  </div>
</section>

{% endblock %}
