{% extends "default.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      {{ g.title }}

      <a class="button is-small is-primary"
        href="{{ url_for('tasks_download', in_campaign=in_campaign, in_group=in_group) }}">
        <span class="icon">
          <i class="fas fa-download"></i>
        </span>
        <span>Download</span>
      </a>

      <a class="button is-small is-primary"
        href="{{ url_for('tasks_download_metadata', in_campaign=in_campaign, in_group=in_group) }}">
        <span class="icon">
          <i class="fas fa-download"></i>
        </span>
        <span>Download Metadata</span>
      </a>

      <a class="button is-small is-primary"
        href="{{ url_for('tasks_replicate', in_campaign=in_campaign, in_group=in_group, in_rse='RSE') }}">
        <span class="icon">
          <i class="fas fa-cloud-upload-alt"></i>
        </span>
        <span>Replicate</span>
      </a>
    </h1>

    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light">all</span>
          <span class="tag is-primary">{{ dsids | length }}</span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light">done</span>
          <span class="tag is-success">{{ done_list | length }}</span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light">in progress</span>
          <span class="tag is-info">{{ not_done_list | length }}</span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light">failing</span>
          <span class="tag is-warning">{{ has_failed_list | length }}</span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light">broken</span>
          <span class="tag is-danger">{{ broken_list | length }}</span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light">missing</span>
          <span class="tag is-dark">{{ not_found_list | length }}</span>
        </div>
      </div>

      {% if events_remaining %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light">done events</span>
          <span class="tag is-success">{{ "{:,}".format(events_done) }}</span>
        </div>
      </div>

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light">remaining events</span>
          <span class="tag is-info">{{ "{:,}".format(events_remaining) }}</span>
        </div>
      </div>
      {% endif %}

      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-light">total events</span>
          <span class="tag is-primary">{{ "{:,}".format(events_total) }}</span>
        </div>
      </div>
    </div>

    <progress class="progress {% if percentage == 100 %}is-success{% else %}is-primary{% endif %}"
      value="{{ percentage }}" max="100">{{ percentage}}&#8239;%</progress>

    <!--<p>
      Progress: <strong>{{ percentage }} %</strong>&emsp;
      All datasets/tasks: <strong></strong>&emsp;
      Done tasks: <strong></strong>&emsp;
      Tasks in progress: <strong></strong>&emsp;
      Datasets not found: <strong>{{ not_found_list | length }}</strong>
    </p>-->

    <div class="content">
      {% if percentage != 100 %}
      <h4>In progress <span class="tag is-light is-medium">{{ not_done_list | length }}</span></h4>
      <p>
        {% for item in not_done_list %}
        <span class="tag is-light">{{ item.tid }}</span>

        <a href="{{ config.BIGPANDA }}/task/{{ item.tid }}" target="_blank">{{ item.name }}</a>

        {% if item.status in ['finished'] or (item.status != 'broken' and item.failed_files) %}
        <span class="tag is-warning">{{ item.status }}</span>
        {% elif item.status in ['throttled'] %}
        <span class="tag is-dark">{{ item.status }}</span>
        {% elif item.status in ['broken'] %}
        <span class="tag is-danger">{{ item.status }}</span>
        {% elif item.status in ['running', 'scouting'] %}
        <span class="tag is-info">{{ item.status }}</span>
        {% else %}
        <span class="tag is-light">{{ item.status }}</span>
        {% endif %}

        <span class="tag is-link">{{ item.finished_files }}/{{ item.files }} ({{ (100 * item.finished_files) //
          item.files }}&#8239;%)</span>

        {% if item.failed_files %}
        <span class="tag is-danger">{{ item.failed_files }}/{{ item.files }} ({{ (100 * item.failed_files) // item.files
          }}&#8239;%)</span>
        {% endif %}

        <span class="tag is-info">{{ "{:,}".format(item.total_events) }} events</span>

        <br>
        {% else %}
        <em>All tasks done.</em>
        {% endfor %}
      </p>

      {% if has_failed_list %}
      <h4>Failures <span class="tag is-light is-medium">{{ has_failed_list | length }}</span></h4>
      <p>
        {% for item in has_failed_list %}
        <span class="tag is-light">{{ item.tid }}</span>

        <a href="{{ config.BIGPANDA }}/task/{{ item.tid }}" target="_blank">{{ item.name }}</a>

        {% if item.status in ['finished'] or (item.status != 'broken' and item.failed_files) %}
        <span class="tag is-warning">{{ item.status }}</span>
        {% elif item.status in ['broken'] %}
        <span class="tag is-danger">{{ item.status }}</span>
        {% elif item.status in ['running', 'scouting'] %}
        <span class="tag is-info">{{ item.status }}</span>
        {% else %}
        <span class="tag is-light">{{ item.status }}</span>
        {% endif %}

        <span class="tag is-link">{{ item.finished_files }}/{{ item.files }} ({{ (100 * item.finished_files) //
          item.files }}&#8239;%)</span>

        {% if item.failed_files %}
        <span class="tag is-danger">{{ item.failed_files }}/{{ item.files }} ({{ (100 * item.failed_files) // item.files
          }}&#8239;%)</span>
        {% endif %}

        <span class="tag is-info">{{ "{:,}".format(item.total_events) }} events</span>
        <br>
        {% else %}
        <em>All tasks without failures.</em>
        {% endfor %}
        {% if has_failed_list %}
      <pre>{% for item in has_failed_list %}retry({{ item.tid }})
{% endfor %}</pre>
      {% endif %}
      </p>
      {% endif %}

      {% if broken_list %}
      <h4>Broken <span class="tag is-light is-medium">{{ broken_list | length }}</span></h4>
      <p>
        {% for item in broken_list %}
        <span class="tag is-light">{{ item.tid }}</span>

        <a href="{{ config.BIGPANDA }}/task/{{ item.tid }}" target="_blank">{{ item.name }}</a>

        {% if item.status in ['finished'] or (item.status != 'broken' and item.failed_files) %}
        <span class="tag is-warning">{{ item.status }}</span>
        {% elif item.status in ['broken'] %}
        <span class="tag is-danger">{{ item.status }}</span>
        {% elif item.status in ['running', 'scouting'] %}
        <span class="tag is-info">{{ item.status }}</span>
        {% else %}
        <span class="tag is-light">{{ item.status }}</span>
        {% endif %}

        <span class="tag is-link">{{ item.finished_files }}/{{ item.files }} ({{ (100 * item.finished_files) //
          item.files }}&#8239;%)</span>

        {% if item.failed_files %}
        <span class="tag is-danger">{{ item.failed_files }}/{{ item.files }} ({{ (100 * item.failed_files) // item.files
          }}&#8239;%)</span>
        {% endif %}

        <span class="tag is-info">{{ "{:,}".format(item.total_events) }} events</span>
        <br>
        {% else %}
        <em>No broken tasks.</em>
        {% endfor %}
        {% if broken_list %}
      <pre><code>{% for item in broken_list %}{{ item.dsid }}
    {% endfor %}</code></pre>
      {% endif %}
      </p>
      {% endif %}

      {% if not_found_list %}
      <h4>Missing <span class="tag is-light is-medium">{{ not_found_list | length }}</span></h4>
      <p>
        {% for item in not_found_list %}
        {{ item }}<br>
        {% else %}
        <em>All datasets accounted for.</em>
        {% endfor %}
      </p>
      {% endif %}
      {% endif %}

      {% if done_list %}
      <h4>Done tasks <span class="tag is-light is-medium">{{ done_list | length }}</span></h4>
      <p>
        {% for item in done_list %}
        <span class="tag is-light">{{ item.tid }}</span>

        <a href="{{ config.BIGPANDA }}/task/{{ item.tid }}" target="_blank">{{ item.name }}</a>

        <span class="tag is-success">{{ item.status }}</span>

        <span class="tag is-info">{{ "{:,}".format(item.total_events) }} events</span>
        <br>
        {% endfor %}
      </p>
      {% endif %}

      {% if superseded %}
      <h4>Superseded <span class="tag is-light is-medium">{{ superseded | length }}</span></h4>
      <p>
        {% for item in superseded %}
        <span class="tag is-light">{{ item.tid }}</span>

        <a href="{{ config.BIGPANDA }}/task/{{ item.tid }}" target="_blank">{{ item.name }}</a>

        <span class="tag is-light">{{ item.status }}</span>
        <br>
        {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
